<p>
    <strong>Question:</strong>
    <%= question.body %>
  </p>
 
  <p>
    <strong>Needs Multiple:</strong>
    <%= question.need_mul %>
</p>
<p>
  <%= link_to 'Edit', edit_survey_question_path(id: question.id, survey_id: @survey.id) %>
  <%= link_to 'Destroy Question', [question.survey, question],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>